[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restplus = "*"
flask-redis = "*"
flask-prometheus-metrics = "*"
pytest = "*"
pytest-flask = "*"
fakeredis = "*"
flask-apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.7"
